


/* ::: Page Elements :::*/

body{
	font-family: 'Poppins', sans-serif;
}

p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.t-center{
    text-align: center;
}
.taka{
    font-size:12px
}
.success-message{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    max-width: 500px;
    padding:12px;
    margin-bottom:40px;
    letter-spacing: 1px;
    background: rgba(4, 212, 77, 0.5)
}
.error-message{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    max-width: 500px;
    padding: 8px;
    margin-bottom:40px;
    letter-spacing: 1px;
    background: rgba(199, 4, 4, 0.6)
}
.info-message{
    color: #212121;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    max-width: 500px;
    border:2px solid #00c397;
    padding: 8px;
    margin-bottom:40px;
    letter-spacing: 1px;
}
.menu-wrapper .success-message{
    max-width: unset;
}
.btn1{
  display: inline-block;
	background: #00c397;
	color: #fff ;
	border: none;
	font-weight: 500;
	font-size: 15px;
	padding: 7px 20px;
	margin: 10px 0px;
  position: relative;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.btn1::after{
	position: absolute;
  right:15px;
  top: 11px;
  content: "\f054";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 12px;
	opacity: 0;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.btn1::before{
    position: absolute;
    content: "";
    left:-3px;
    top:-3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border:2px solid #079c7a;
}
.btn1:hover{
	padding: 7px 25px 7px 15px;
}
.btn1:hover::after{
	right:10px;
	opacity: 1
}



.btn2{
    display: inline-block;
    background: #00c397;
    color: #fff;
    border: none;
    font-weight:400;
    font-size:13px;
    padding:5px 20px;
    position: relative;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}



.header-1{
  font-weight: 900;
  font-size:22px;
  position: relative;
  word-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  padding:5px 0px;
  display: inline-block;
	border-bottom: 1px solid #a2a2a2;
}
.heading1{
	font-weight: 800;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-size: 25px;
	position: relative;
	display: inline-block;
}
.heading1::after{
	position: absolute;
	content: "";
	bottom: -10px;
	left: 50%;
	width: 30px;
	height: 3px;
	margin-left: -15px;
	background: #19b3ff;
}

.heading2{
	font-family: 'Roboto', sans-serif;
	font-weight:600;
	font-size: 13px;
	letter-spacing:1px;
	display: inline-block;
	padding: 5px 0px;
	text-transform: uppercase;
	color: #212121;
	border-bottom: 2px solid #0f89c5;
}

.heading3{
    font-weight:600;
    letter-spacing:0px;
    font-size:20px;
    border-bottom:1px solid #020202;
    display: inline-block;
    padding-bottom: 4px;
    color: #020202;
    font-family: 'Roboto', sans-serif;
}

/* ::: Page Elements Ends :::*/





/* ::: Swiper Slider Setting ::: */
.fulscreen-slider{
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
    z-index:10;
    overflow: hidden;
}
.swiper-slide{
	position: relative;
	text-align: center;
	background-size:cover;
	background-position:center;
}
.swiper-slide .mask{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height:100%;
	background: rgba(0,0,0,.7);
	z-index:20;
}
.swiper-slide .content{
	color: #fff;
	position: relative;
	top:270px;
    width: 100%;
    height:auto;
    text-align: center;
    z-index:30;
    padding:0px 300px;
}
.swiper-slide .content h1{
	font-size:45px;
	font-weight:800;
	margin: 0px;
	padding:5px 0px;
	position: relative;
	display: inline-block;
}
.swiper-slide .content h1::after{
	content: "";
	position: absolute;
	bottom: 0px;
	height: 1px;
	background: #eee;
	width: 90%;
	left: 5%;
}
.swiper-slide .content p{
	font-size:20px;
	font-weight:300;
	margin-top:15px;
}
.swiper-button-prev{
   left:50px;
   background-image: url('../img/prev.png');
   background-size: 30px 30px !important;
   width:50px;
   height:60px;
}
.swiper-button-next{
	right:50px;
   background-image: url('../img/next.png');
   background-size: 30px 30px !important;
   width:50px;
   height:60px;
}

.swiper-pagination{
	text-align: right;
	padding: 30px 50px;
}
.swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
    background: #fff;
    width:7px;
    height:7px;
    border-radius:50%;
    opacity: 1;
}
.swiper-pagination-bullet-active {
	background:red  !important
}





/*::: Forms --> Form-1 ::: */
.form-1{
    text-align: left;
    margin: 50px 0px;
}
.form-1 input,
.form-1 textarea,
.form-1 select{
	font-family: 'Roboto', sans-serif;
    border: 1px solid #dcd8d8;
    height:37px;
    padding: 10px 20px;
    margin: 5px 0px;
    border-radius: 0px;
    letter-spacing: 1px;
    font-weight:500;
    font-size:14px;
    text-align: left;
    color: #212121;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.form-1 input:focus ,
.form-1 input:active,
.form-1 textarea:focus,
.form-1 textarea:active,
.form-1 select:focus,
.form-1 select:active{
    outline: 0;
    border-color:#0f89c5;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(184, 187, 189, 0.6);
}
.form-1 textarea{
    max-width: 100%;
    min-width: 100%;
    min-height:200px;
}
.form-1 button{
    margin:20px 0px;
}
.form-1 input::-webkit-input-placeholder{
    font-weight:500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: inherit;
}
.form-1 input::-moz-placeholder{
    font-weight:500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: inherit;
}
.form-1 input:-moz-placeholder{
    font-weight:500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: inherit;
}
.form-1 input::-ms-placeholder{
    font-weight:500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: inherit;
}
.form-1 textarea::-webkit-input-placeholder{
    font-weight:500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: inherit;
}
.form-1 textarea::-moz-placeholder{
    font-weight:500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: inherit;
}
.form-1 textarea:-moz-placeholder{
    font-weight:500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: inherit;
}
.form-1 textarea::-ms-placeholder{
    font-weight:500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: inherit;
}

.form-control{
    height: auto;
}

/*::: Forms --> Form 2 ::: */
.form-2 {
	text-align: left;
}
.form-2 input{
	background: rgba(255,255,255,.1);
	border: none;
	height: 40px;
	color: #fff;
	border-radius: 0px;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.form-2 input[type="checkbox"]{
	width: 18px;
    height: 18px;
    margin: 0px;
    padding: 0px;
}
.form-2 span{
	position: relative;
	font-size: 15px;
	top:-4px;
	left: 10px;
	color: #fff
}
.form-2 a{
	font-size:15px;
	text-decoration: none;
	color: #fff
}

.form-2 button{
	margin: 10px 0px;
	padding:10px 30px;
	text-align: center;
	height: 40px;
	background: #00c397
}
.form-2 button::after{
    top: 14px;
}
.form-2 button:hover{
    padding:10px 35px 10px 25px;
}
.form-2 input:active,
.form-2 input:focus,
.form-2 input:hover{
	background: rgba(0,0,0,.6);
	box-shadow:none;
	border: none;
}
.form-2 input::-webkit-input-placeholder{
    font-weight:500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: inherit;
}
.form-2 input::-moz-placeholder{
    font-weight:500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: inherit;
}
.form-2 input:-moz-placeholder{
    font-weight:500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: inherit;
}
.form-2 input::-ms-placeholder{
    font-weight:500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: inherit;
}



/*::: Forms --> Form 3 ::: */

.form-3-wrapper{
    width:80%;
    max-width: 1366px;
    max-height: 100vh;
    overflow-y: auto;
    overflow:hidden;
    overflow-y: auto;
    position:fixed;
    padding:50px 100px;
    z-index:9999;
    !background:#01012b;
    background:rgba(0,0,0,.98);
    color:#eee;
    top:75%;
    left: 50%;
    margin-left:-40%;
    -webkit-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    -o-transform: translateY(-75%);
    transform: translateY(-75%);
    text-align: center;
    border-radius: 3px;
    opacity:0;
    z-index:-99999;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.form-3-wrapper form.left,
.form-3-wrapper form.left input,
.form-3-wrapper form.left select,
.form-3-wrapper form.left textarea{
    text-align: left;
}
.form-3-wrapper form.center,
.form-3-wrapper form.center input,
.form-3-wrapper form.center select,
.form-3-wrapper form.center textarea{
    text-align: center;
}
.close-form{
    position: absolute;
    top:-1px;
    right:-1px;
    width:35px;
    height: auto;
    background:#d20505;
    padding:10px;
    cursor: pointer;
}

#catagory-form h2,
#edit-catagory-form h2{
    margin:0px 0px 40px;
}
.form-3-wrapper h2{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px 20px;
    padding: 6px 0px;
    position: relative;
    display: inline-block;
    color: #eee;
    border-bottom:2px solid #7b7777;
}
.form-3{
    width: 100%;
    text-align: left;
}

.form-3 label{
    margin:30px 0px 10px;
    font-weight:400;
    font-size: 16px;
}
.form-1 label{
    font-family: 'Roboto', sans-serif;
    margin:10px 0px 0px;
    font-weight:600;
    font-size: 16px;
}
.form-3 select,
.form-3 textarea,
.form-3 select,
.form-3 input{
    background:#0a0a0a;
    border:1px solid #4c4747;
    color: #fff;
    height:38px;
    border-radius: 0px;
}
.form-3 input:focus,
.form-3 textarea:focus,
.form-3 select:focus,
.form-3 input:focus{
    box-shadow:none;
    border: 1px solid #03b78e;
}
.form-3 textarea{
    max-width: 100%;
    min-width: 100%;
    min-height:100px;

}
.form-3 button{
    margin:30px 0px 0px !important;
}




/*::: Team Section ::: */
#team{
    text-align: center;
    padding: 50px 100px 100px;
}
#team h1{
    margin: 30px 0px 50px;
}
.team-list{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.team-list li{
    position: relative;
    font-family: 'Poppins', sans-serif;
    width: 270px;
    height: auto;
    padding: 0px;
    list-style: none;
    display: inline-block;
    margin: 20px;
    box-shadow: 0px 0px 25px #ddd
}
.team-list li .team-photo{
    width: 100%;
    height: 220px;
    overflow: hidden;
    margin: 0px;

}
.team-photo img{
    width: 100%;
    height: auto;
    min-height: 100%;
}
.team-list li .content{
    background: #000;
    color: #fff;
    padding:10px 10px;

}
.team-list li .content h3{
    font-weight: 600;
    font-size: 15px;
    margin: 0px;
    margin-bottom:0px;
}
.team-list li .content p{
    font-size: 15px;
    font-weight: 300;
    margin:0px;
}

#team .btn1{
    margin-top:70px;
}



/*::: Pagination Section ::: */
.pagination{
    margin: 50px 0px;
}
.pagination>li>a,
.pagination>li>span,
.pagination>li.disabled>a,
.pagination>li.disabled>span{
    padding: 6px 14px;
    color: #00c397;
    background-color: #111;
    border: 1px solid #635a5a;
    font-size: 15px;
    font-weight: 600;
    border-radius: 0px !important
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover,
.pagination>li.disabled>a:focus,
.pagination>li.disabled>a:hover,
.pagination>li.disabled>span:focus,
.pagination>li.disabled>span:hover{
    color: #fff;
    background-color: #00c397;
    border: 1px solid #00c397;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
    color: #fff;
    background-color: #00c397;
    border: 1px solid #00c397;
}




/*::: Gallery Page Section ::: */

.galleries-header{
    background-image: url(../img/photos/15.jpg);
}

.galleries-photo .photo{
    position: relative;
    height: 230px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.galleries-photo .photo img{
    cursor: pointer;
    width: 100%;
    height: auto;
    min-height: 100%;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.galleries-photo .photo:hover img{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.galleries-photo .photo .caption{
	position: absolute;
	text-align:left;
	top:50%;
	left:30px;
	opacity: 0;
	background: #000;
	max-width:70%;
	padding:5px 20px;
	color: #fff;
	font-size:17px;
	font-weight:500;
	border-left:4px solid #00c397;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.galleries-photo .photo:hover .caption{
	left: 0px;
	opacity: 1
}


.slbWrapOuter{
    z-index:9000 !important;
}
.admin-galleries-photo{
    margin-top:60px;
    text-align:center;
}
.admin-galleries-photo button{
    margin-top:90px;
}
.admin-galleries-photo .photo {
    height: 195px;
}
.admin-galleries-photo .photo .caption{
	font-size:14px;
}

/* ::: Page : Galleries Ends ::: */





/* Admin / User Profile Details settings */
.detailsDiv h2{
	font-family: 'Roboto', sans-serif;
	font-weight:600;
	font-size:23px;
	display: inline-block;
}
.detailsDiv ul{
	background: #fff;
	padding:0px;
	box-shadow: 0px 0px 15px #ccc;
	margin:10px 0px 20px;
}
.detailsDiv .btn1{
	margin-bottom:60px;
}
.detailsDiv ul li{
	list-style: none;
	border-bottom:1px solid #ddd;
	padding:10px 20px 5px;
}
.detailsDiv ul li p.title{
	width:200px;
	color: #6b6868;
}
.detailsDiv ul li p{
	display: inline-block;
	font-weight:500;
	color: #212121;
	font-size:16px;
}
.detailsDiv ul li img{
	width: 60px;
	height: auto;
	margin: 0px;
	padding: 0px;
}
.detailsDiv ul li i{
	padding-right: 5px;
	font-size:17px;
	color:#000;
	width: 40px;
}
.detailsDiv ul li a{
	color: #000;
	text-decoration: none;
}
.admin-thumb {
	overflow: hidden;
	position: relative;
	padding:10px;
}
.admin-thumb img{
	width: 100%;
	height: auto;
    min-height:100%;
	margin:0px;
	box-shadow: 0px 0px 15px #ccc;
}



/*::: User Profile Starts :::*/
#user-profile{
    margin:100px 0px 40px;
    padding: 50px 80px;
}
.admin-cs-profile{
    margin:0px 0px 40px !important;
    padding:40px 40px !important;
}

#user-profile .admin-thumb{
    padding:20px 30px 0px;
}
#user-profile .admin-thumb .inner{
    float: right;
}
#user-profile .admin-thumb .inner{
    width:250px;
    height:250px;
    border:3px solid #09ad88;
    overflow: hidden;
    border-radius: 50%
}




/*::: User Orders Starts :::*/
#user-orders{
    padding:100px 200px 50px;
    text-align: center;
    min-height: 100vh;
}
#user-orders h1{
    margin:30px 0px 50px 
}

.user-profile-update{
    padding:70px 200px 20px;
}
.user-profile-update .heading1{
    margin-bottom:60px;
    font-size:20px;
}

.admin-profile-update{
    padding:0px 100px 20px;
}
.admin-profile-update .header-1{
    margin-bottom:60px;
    font-size:20px;
}

.order-details{
    margin:0px 0px 50px;
}
.order-details .details-block{
    padding:10px;
}
.order-details .details-block .inner{
    box-shadow: 0px 0px 10px #ccc;
    width: 100%;
    text-align: left;
    height:200px;
    padding-bottom:15px;
    overflow:hidden;
}
.order-details .details-block .inner h2{
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    font-size:16px;
    padding:7px 5px 7px 20px;
    background-color: #111;
    color: #fff;
    margin:0px 0px 15px;
}
.order-details .details-block .inner p{
    padding:0px 10px 0px 20px;
    font-weight:500;
    font-size:16px;
    margin:4px 0px;
}
.order-details .details-block .inner span{
    font-weight: bold;
}









/* ::: Password Reset Styles :::*/

.reset-div{
    min-height:100vh;
    padding:130px 50px 40px;
    background-color: #eee;
}
.reset-div .help-block{
    color:#131212 !important
}
.admin-reset-div .help-block{
    color:#fff !important
}
.reset-email{
  padding:90px 50px 40px;  
}
.reset-email.admin-reset-div{
  padding:60px 50px 40px;  
}
.reset-div .logo{
    width: 100px;
    height: auto;
    margin-bottom:15px;
}
.reset-div h1{
    color:#313131
}

.admin-reset-div{
    background-color:#151313;
    background-size: cover;
    background-position: center;
}
.admin-reset-div form{
    color: #fff
}
.admin-reset-div form label{
    margin-bottom:5px;
}
.admin-reset-div form input{
    background-color: #0e0e0e;
    border:1px solid #423f3f;
    box-shadow: none;
    color: #fff;
}
.admin-reset-div form input:hover,
.admin-reset-div form input:focus{
    border:1px solid #05b990;
    box-shadow: none;
}
.admin-reset-div h1{
    color: #eee;
}