@media (min-width:1441px) and (max-width:1690px) {
	#header {
	    min-height:900px;
	}
	.swiper-slide .content {
	    top:360px;
	}
	.swiper-slide .content h1 {
	    font-size:60px;
	}
	.swiper-slide .content p {
	    font-size:26px;
	}
	.navbar-default .navbar-nav li a {
	    font-size:17px;
	}
	.home-dish {
	    padding: 104px 115px 50px;
	}
	.dish-heading {
	    padding: 15px 60px;
	 }
	.dish-heading h1 {
	    font-size:45px;
	 }

	.dish-block .dish-image {
	   height:220px;
	}
	.about-header h1 {
	    font-size:50px;
	}
	.about-header p{
	    font-size:24px;
	}
	.about-right p{
	    font-size:23px;
	}
	.cat-block ul{
	    text-align: center;
	}
	.galleries-photo .photo{
	   height:285px;
	}
	#reviews-small {
	    text-align: center;
	    padding:80px 150px 50px;
	}
	.review-box .details h1 {
	    font-size:18px;
	 }
	.review-box .details h2 {
    	font-size: 16px;
 	}
 	.review-box .details p {
	    font-weight: 300;
	    font-size:18px;
	}
	.btn1 {
	    font-size:17px;
	    padding:10px 30px;
	}
	.btn1:hover{
		padding:10px 35px 10px 25px;
	}
	.btn1::after{
		top:14px;
	}
	#search-reviews ul li,
	#full-review ul li{
	    width: 350px;
	}

	#full-review ul li p {
	   font-size:19px;
	}
	.rating img {
	   width:16px;
	}
	#review-form {
		width: 1000px;
		margin-left: -500px;
	}
	.team-list li {
	    width: 290px;
	}
	.team-list li .team-photo {
	    height: 250px;
	}
	.team-list li .content h3{
	    font-size:18px;
	}
	.team-list li .content p {
	    font-size: 18px;
	    margin:4px 0px 0px;
	}
	.cat-block ul li {
	    list-style: none;
	    width: 390px;
	    padding: 15px 42px 10px 15px;
	 }
	.cat-block ul li h1 {
	    font-size:19px;
	 }
	.cat-block ul li p {
	    font-size: 21px;
	}
	.cat-block ul li .cart {
	    width:40px;
	    font-size: 25px;
	}
	.cat-block ul li h2 {
	    font-size: 23px;
	    margin-top: -3px;
	}
	#menu-navigation ul li a {
	    font-size: 17px;
	 }
	#contact .contact-info {
	    padding: 50px 40px 50px 190px;
	}
	.contact-info .address p {
	    font-weight: 400;
	    font-size: 18px;
	}
	#contact .openclose p {
	    font-weight: 500;
	    font-size:18px;
	}

	#contact .heading2 {
		font-size: 17px;
	}
	#customer-signin .signin-form {
	    width: 430px;
	}
	.form-2 input,
	.form-1 input,
	.form-3 input,
	.form-2 select,
	.form-1 select,
	.form-3 select{
	   height: 45px;
	   font-size: 17px;
	}
	.form-2 textarea,
	.form-1 textarea,
	.form-3 textarea{
	  	height:150px;
	   font-size: 17px;
	}
	.signup {
	    background-size: cover;
	    padding: 200px 130px 50px;
	}
	#user-profile {
	    margin: 100px 120px 40px 0px;
	}
	.cart-wrapper {
	    margin: 150px 0px 30px;
	    padding: 0px 290px;
	}
	#checkout {
	   padding: 0px 290px 100px;
	}
	.checkout-info {
	   padding: 40px 250px 20px;
	}
	.payment-options button {
	    padding: 8px 25px;
	    font-size: 18px;
	}
	.links {
	    padding: 40px 110px;
	 }
	.links .linkBox ul li a {
	    font-size: 18px;
	}
	.about-header {
		height: auto;
	   min-height:800px;
	}


}
@media (min-width:1367px) and (max-width:1440px) {
	#header {
	    max-height:800px;
	}
	#user-profile {
	    margin: 100px 90px 40px 0px;
	}
	.navbar-default .navbar-nav li a {
	    font-size:15px;
	}
	.navbar-brand img {
	   width:100px;
	}
	.navbar-default{
		top:30px;
	}
	.navbar-brand {
	    top: -15px;
	}
	.navbar-dark2{
		top: 0px !important;
	}
	.navbar-dark{
	   top: 0px !important;
	   padding:4px 0px;
	}
	.navbar-dark2 .navbar-brand img,
	.navbar-dark .navbar-brand img {
	   width:80px;
	}
	.navbar-dark2 .navbar-brand,
	.navbar-dark .navbar-brand {
	    top:2px;
	}
	.navbar-dark2 .right-nav,
	.navbar-dark .right-nav {
	   top:6px;
	}
	.user-nav ul li a {
	    font-size:16px;
	}
	.dish-heading {
	    padding:13px 60px;
	}
	.dish-block .dish-image {
	   height: 205px;
	}
	.footer-bottom > p{
		font-size: 19px;
	}
	.about-header h1 {
	    font-size: 45px;
	}
	.about-header p {
	    font-size: 20px;
	}
	.about-right p {
	    font-size: 20px;
	}
	.cat-block ul {
	    text-align: center;
	}
	.galleries-photo .photo {
	   position: relative;
	   height: 245px;
	}
}
@media (min-width:0px) and (max-width:1280px) {

	/* ::-> Home Page */
	#header{
		max-height:650px;
	}
	.swiper-slide .content{
		top:240px;
		padding: 0px 220px;
	}
	#home-nav {
	   padding: 50px 50px;
	}
	#home-nav .hn-block .image{
		height: 180px;
	}
	.dish-heading {
	    padding:10px 35px;
	}
	.dish-block .dish-image{
		height: 170px;
	}


	/* ::-> Menu Page */
	.menu-wrapper {
	    padding: 70px 10px 50px;
	}
	.cat-block ul li {
	    width: 325px;
	    margin: 15px 10px;
	}
	

	/* ::-> Reservation Page */
	.reserve-text {
	    padding: 60px 80px 20px 50px;
	}
	.reserve-form {
	    padding: 35px 100px 40px 0px;
	}


	/* ::-> Contact Page */
	#contact .contact-info {
	    padding: 50px 50px 50px 100px;
	}
	#contact .contact-form{
		padding:0px 20px 20px 0px;
	}
	
	/* ::-> Cart Page */
	.cart-wrapper {
	    margin:130px 0px 30px;
	    padding: 0px 180px;
	 }




	/* ::-> User Register */
	.signup-left {
	    padding: 0px 70px 0px 70px;
	 }



	/* ::-> User Orders */
	#user-orders {
	    padding: 100px 120px 50px;
	}


	/* ::-> Footer */
	.links {
	   padding: 30px 20px 30px 70px;
	}
	.links .linkBox{
		padding: 30px 20px 30px;
	}		
}

@media (min-width:0px) and (max-width:1080px) {

	/* ::-> Home Page */
	#home-nav {
	   padding: 50px 30px;
	}
	#home-nav .hn-block .image{
		height: 160px;
	}
	#home-nav .hn-block h2 {
	   font-family: 'Poppins', sans-serif;
	   font-size:14px;
	   border-bottom: 1px solid #fff;
	   margin-top: 15px;
	}
	#quotes .mask {
	   padding: 70px 150px;
	}
	.home-dish {
		padding:50px 25px;
	}
	.dish-block{
		margin: 15px 0px;
	}
	.dish-block .dish-image{
	   height: 160px;
	}
	.links {
	   padding: 30px 0px 30px 50px;
	}
	.links .linkBox{
		padding: 30px 0px 30px;
	}	


	/* ::-> About Page */
	.about-header{
		max-height:620px;
	}
	.about-header .mask {
	    padding: 200px 160px 0px !important;
	    background: rgba(0,0,0,.7) !important;
	}
	.about {
	    padding: 80px 50px;
	}
	.about-right {
	    padding-left:40px;
	    padding-right: 15px;
	}
	.about-right h1 {
	    margin-top: 10px;
	    padding-right:50px;
	    font-size: 35px;
	}
	#reviews-small {
	   padding: 80px 0px 50px;
	}
	#full-review{
		padding:120px 10px 50px;
	}
	#team {
	   padding: 50px 30px 100px;
	}


	/* ::-> Menu Page */
	.menu-wrapper {
	    padding: 70px 0px 50px;
	}
	.cat-block ul li {
	    width: 300px;
	    padding: 15px 42px 0px 10px;
	}
	.cat-block ul li h1 {
	    font-size: 15px;
	}
	.cat-block ul li h2 {
	    font-size: 16px;
	}


	/* ::-> Reservation Page */
	.reserve-text {
	    padding: 60px 40px 20px 30px;
	}
	.reserve-form {
	    padding: 35px 20px 40px 20px;
	}


	/* ::-> Gallery Page */
	.galleries-photo .photo {
	    height: 180px;
	}

	/* ::-> Contact Page */
	#contact{
		padding-top: 140px;
	}
	#contact .contact-info {
	    padding: 50px 20px 50px 60px;
	}
	#contact .contact-form{
		padding:0px 20px 20px 0px;
	}

	/* ::-> Information Page */
	.checkout-info {
	   padding: 40px 80px 20px;
	}

	/* ::-> Checkout Page */
	#checkout {
	    padding: 0px 130px 100px;
	}
	

	/* ::-> #user-profile Page */
	#user-profile {
	    margin: 100px 0px 40px;
	    padding: 50px 40px;
	}


	/* ::-> Cart Page */
	.cart-wrapper {
	    margin:130px 0px 30px;
	    padding: 0px 100px;
	 }


	 /* ::-> User Orders */
	#user-orders {
	    padding: 100px 90px 50px;
	}


}
@media (min-width:0px) and (max-width:991px) {

	/* ::-> Home Page */
	#header {
   	max-height: 550px;
	}
	.swiper-slide .content {
	   top: 206px;
	}
	.swiper-slide .content .btn1{
		margin:0px;
	}
	.swiper-slide .content h1{
	   font-size: 37px;
	}
	#home-nav {
	   padding: 50px 80px;
	}
	#home-nav .hn-block {
	   text-align: center;
	   margin: 15px 0px;
	}
	#home-nav a:nth-child(even) .hn-block .image {
	   margin-top: 0px;
	}
	#home-nav .hn-block .image {
	   height: 210px;
	}
	#home-nav .hn-block h2 {
	   font-size:17px;
	   border-bottom:2px solid #fff;
	}

	#quotes .mask {
	    padding:50px 100px;
	}
	.dish-heading {
	   padding: 5px 50px;
	}
	.dish-block .dish-image {
	   height: 195px;
	}
	

	/* ::-> About Page */
	.about-header{
		max-height:580px;
	}
	.about-header .mask {
	    padding:170px 150px 0px !important;
	    background: rgba(0,0,0,.7) !important;
	}
	.about {
	    padding: 50px 70px;
	}
	.about-left {
	    display: none;
	}
	.about-right {
		padding: 0px;
	}
	.about-right h2 {
	    font-size:18px;
	 }
	.about-right h1{
	    padding:0px;
	}
	#reviews-small {
	   padding: 80px 200px 50px;
	}
	#team {
	   padding: 50px 10px 100px;
	}


	/* ::-> Menu Page */
	.top-header .heading1 {
	    font-size: 22px;
	}
	.top-header .mask {
	    background-color: rgba(0,0,0,0.9);
	    padding: 130px 50px 0px;
	 }
	.top-header {
	    height: 265px;
	 }
	.menu-wrapper {
	    padding:60px 40px 50px;
	}
	.cat-block ul {
	    text-align: center;
	 }
	.cat-block ul li {
	    width: 340px;
	}
	.cat-block ul li h1{
	    font-size:17px;
	}
	.cat-block ul li h2 {
	    font-size:17px;
	 }
	

	/* ::-> Reservation Page */
	.reserve-text {
	    padding:40px 10px 50px 20px;
	}
	.reserve-form {
	    padding:40px 20px 40px;
	}


	/* ::-> Gallery Page */
	.galleries-photo .photo {
	    height:220px;
	}
	

	/* ::-> Contact Page */
	#contact{
		padding-top:120px;
	}
	#contact .contact-info {
	    padding: 50px 40px 50px 60px;
	}
	#contact .contact-form{
		padding:0px 0px 20px;
	}

	/* ::-> Cart Page */
	.cart-wrapper {
	    margin:120px 0px 30px;
	    padding: 0px 40px;
	}



	/* ::-> User Register */
	.signup-left {
	   padding:100px 130px 80px;
	   height: auto;
	   text-align: center;
	}
	.signup-left .content{
		top:0px;
	}
	.signup {
		height: auto;
	   min-height: 460px;
	   background-size: cover;
	   padding:80px 70px 50px;   
	}
	.signup .form-2 input {
	    border: 1px solid #ababab;
	}

	

	/* ::-> Information Page */
	.checkout-info {
	   padding: 40px 80px 20px;
	}


	/* ::-> Checkout Page */
	#checkout {
	    padding: 0px 70px 100px;
	}


	/* ::-> #user-profile Page */
	#user-profile {
	    margin: 80px 0px 40px;
	    padding: 50px 0px;
	}
	#user-profile .admin-thumb .inner {
	    width: 210px;
	    height: 210px;
	 }




	/* ::-> Footer */
	.links .linkBox ul{
		padding-left:50px;
	}
	.links .linkBox ul.address{
		padding-left:0px;
	}
	.links .linkBox ul li a{
		font-size:15px;
	}


	 /* ::-> User Orders */
	#user-orders {
	    padding: 100px 50px 50px;
	}

	
}

@media (min-width:0px) and (max-width:850px) {

	/* ::-> Home Page */
	.right-nav {
	    right: 30px;
	 }
	#header {
	   max-height:480px;
	}
	.swiper-slide .content {
	   top: 165px;
	   padding: 0px 140px;
	}
	.swiper-slide .content h1{
	    font-size:33px;
	}
	.swiper-button-prev{
		left: 15px;
	}
	.swiper-button-next{
		right:15px;
	}
	#quotes .mask {
	   padding:50px 90px;
	}
	.dish-heading {
	   padding: 40px 50px;
	}
	.dish-heading h1 {
	   font-size: 33px;
	}
	.dish-block .dish-image {
	    height: 165px;
	}


	/* ::-> About Page */
	.about-header{
		max-height:580px;
	}
	.about-header .mask {
	    padding:190px 80px 0px !important;
	    background: rgba(0,0,0,.7) !important;
	}
	#reviews-small {
	    padding: 80px 170px 50px;
	}
	#review-form {
	    left: 10%;
	    width: 80%;
	    margin-left:0%;
	}
	.team-list li{
		width: 220px;
		margin: 15px 12px;
	}
	.team-list li .team-photo {
	    height: 200px;
	 }



	 /* ::-> Menu Page */
	.menu-wrapper {
	    padding:60px 20px 50px;
	    background-image: url('../img/4.jpg');
	    background-position: bottom;
	}
	.cat-block ul {
	    text-align: center;
	 }
	.cat-block ul li {
	    width: 320px;
	}
	.cat-block ul li h1{
	    font-size:16px;
	}
	.cat-block ul li h2 {
	    font-size:15px;
	}

	/* ::-> Gallery Page */
	.galleries-photo .photo {
	    height:180px;
	}
	.galleries-photo .photo .caption {
		 max-width:90%;
		 padding: 5px 15px;
		 font-size: 15px;
	}

	#customer-signin{
    	padding:200px 0px 30px;
	}

}

@media (min-width:0px) and (max-width:767px) {

	/* ::-> Home Page */
	.navbar-default,
	.navbar-dark2{
		background: #111;
    	top: 0px;
    	padding: 5px 0px;
	}
	.navbar-default .navbar-toggle{
	    border-color: transparent;
	    background-color: transparent !important;
	}
	.navbar-toggle .icon-bar{
		background-color: #fff !important;
	   width: 30px;
	   height: 3px;
	   border-radius:0px;
	}
	.navbar-default .navbar-collapse{
		border-color: transparent;
	}
	.navbar-nav{
	    padding:15px 0px;
	    width: unset;
	}
	.navbar-nav li{
		display:block;
	}
	.navbar-default .navbar-nav li a{
		display: inline-block;
		font-size:16px;
		margin:1px 0px;
	}
	.right-nav,
	.navbar-dark2 .right-nav{
		right:70px;
		top:6px;
	}
	.navbar-brand {
	   left:30px;
	   top:4px;
	}
	.navbar-brand img {
	   width:70px;
	}
	.right-nav {
	    max-height: 50px;
	}


	#header {
	   max-height:470px;
	   margin-top: 50px;
	}

	.swiper-slide .content {
	   top:150px;
	   padding: 0px 100px;
	}
	.swiper-slide .content h1 {
	   font-size: 30px;
	}
	.swiper-slide .content p {
	   font-size: 18px;
	}
	.swiper-button-prev,
	.swiper-button-next{
		background-size: 25px 25px !important
	}

	#home-nav {
	    padding: 50px 35px;
	}
	#quotes {
	    height: 240px;
	}
	#quotes .mask {
	    padding: 50px 30px;
	}

	.home-dish {
	    padding: 15px 25px 50px;
	}

	.dish-heading {
    	padding:20px 0px;
	   min-height: unset;
	}
	.dish-heading h1 {
	    font-size: 30px;
	    padding: 8px 25px;
	    background: #fff;
	    color: #333131;
	}
	.dish-heading h1::before,
	.dish-heading h1::after{
	    display: none
	}
	.dish-block .dish-image {
	    height: 210px;
	}
	.dish-block .dish-title h2 {
	    font-size: 18px;
	}

	
	.heading1 {
	    font-size:16px;
	 }

	/* ::: --> About Page ::: */
	#reviews-small {
	    padding: 80px 120px 50px;
	}
	#review-form {
	    left: 20%;
	    width:60%;
	    padding: 10px 30px 20px;
	}
	#review-form form{
		width: auto;
	}
	#review-form h2 {
	    font-size:21px;
	    margin-bottom: 0px;
	 }
	#review-form .form-3 button {
	    margin: 10px 0px 0px !important;
	}



	 /* ::-> Menu Page */
	.top-header {
		 height: 200px;
	}
	.top-header .mask {
	    background-color: rgba(0,0,0,0.9);
	    padding: 100px 50px 0px;
	}
	.menu-wrapper {
	    padding:35px 0px 50px;
	}
	
	.cat-block ul {
	   text-align: center;
	   margin-top: 25px;
	}
	.cat-block ul li {
	    width:280px;
	}
	.cat-block ul li h1{
	    font-size:14px;
	}
	.cat-block ul li h2 {
	    font-size:14px;
	}


	/* ::-> Gallery Page */
	.galleries-photo .photo {
	    height:250px;
	}



	/* ::-> Reservation Page */
	.reserve-text {
	    padding:10px 50px 20px 20px;
	}
	.reserve-form {
	    padding:0px 50px 30px 20px;
	}
	#reserve form button {
	    margin-top: 20px;
	    width: 250px;
	    padding:13px 0px 13px 10px;
	    font-size: 17px;
	}



	/* ::-> Contact Page */
	#contact{
		padding-top:100px;
	}
	#contact .contact-info {
	    padding:30px 100px 50px 80px;
	}
	#contact .contact-form{
		padding:0px 100px 20px 60px;
	}


	/* ::-> User Register */
	.signup-left {
	   padding:100px 90px 80px;
	   height: auto;
	   text-align: center;
	}
	.signup-left .content h1{
		margin-bottom: 0px;
	}
	.signup {
	   min-height:480px;
	   padding:80px 70px 50px;   
	}
	

	/* ::-> Information Page */
	.checkout-info {
	   padding: 40px 65px 20px;
	}

	/* ::-> Checkout Page */
	#checkout {
	    padding: 0px 40px 100px;
	}


	/* ::-> #user-profile Page */
	#user-profile {
	    margin:30px 0px 40px;
	    padding: 50px 50px;
	}
	#user-profile .admin-thumb .inner {
	    width:230px;
	    height:230px;
	    float: none;
	    margin:0px auto 50px;
	}

	/* ::-> User Orders */
	#user-orders {
	    padding: 100px 50px 50px;
	    overflow:hidden;
	    overflow-x: scroll;
	}
	#user-orders .table{
		width:600px;
		margin:0px auto;
	}


	/* ::-> Footer */
	.links .linkBox {
	    padding: 30px 0px 30px;
	    height: 150px;
	}
	.links .linkBox:nth-child(3) ul,
	.links .linkBox ul.address{
		padding-left: 0px !important;
	}
	.links .linkBox  ul{
		padding-left:60px !important;
	}
	.links {
	    padding: 20px 0px 50px 80px;
	}
	.links .linkBox ul li a {
	    font-size:16px;
	}
	.footer-bottom p{
		font-size:17px;
	}


}

@media (min-width:0px) and (max-width:600px) {

	/* ::-> Home Page */
	#header {
	    max-height: 385px;
	}
	.swiper-slide .content {
	   top:100px;
	   padding: 0px 60px;
	}
	.swiper-button-prev,
	.swiper-button-next{
		display: none;
	}
	.swiper-slide .content h1{
	   font-size:27px;
	   font-weight:600
	}
	.swiper-slide .content p{
	    font-size: 17px;
	}
	#home-nav .hn-block .image {
	    height: 170px;
	}
	#home-nav .hn-block h2 {
	    font-size: 15px;
	    border-bottom: 1px solid #fff;
	}
	.btn1 {
	    font-size: 15px;
	    padding: 4px 15px;
	}
	.btn1::after{
		top: 8px;
		font-size:9px
	}
	.btn1:hover::after{
		right:5px;
	}
	.btn1:hover{
		padding: 4px 20px 4px 10px;
	}
	#quotes .mask {
	   padding:50px 30px;
	   background: rgba(0,0,0,0.8);
	}
	#quotes .mask p{
	    font-size:17px;
	    font-weight: 300
	}
	.dish-heading h1 {
	   font-size: 20px;
	}
	.dish-block {
	   padding: 0px 30px;
	}
	.dish-block .dish-image {
	    height: 155px;
	}
	.dish-block .dish-title h2 {
	    font-size: 16px;
	}
	.dish-block .dish-title p{
		padding-right: 40px;
		font-size:15px;
    	font-weight: 500;
	}

	/* ::: --> About Page ::: */
	.about-header h1 {
	    font-size:26px;
	}
	.about-header .mask {
	    padding: 158px 30px 0px !important;
	}
	.about-header {
	    max-height:530px;
	}
	#reviews-small {
	    padding: 80px 20px 50px;
	}
	#search-reviews ul li,
#full-review ul li{
	    width: 245px;
	    margin:15px 10px;
	    padding:25px 15px 10px;
	}
	#full-review ul li p {
	    font-size: 13px;
	    margin-bottom:0px;
	}
	#full-review ul li h2 {
	    font-size: 13px;
	    margin-top: 0px;
	}
	#closeReview {
	   right: 0px;
	   width:35px;
    	padding:10px;
	}
	#review-form {
	    left:5%;
	    width:90%;
	    margin-left:0%;
	}
	


	/* ::: --> Menu Page ::: */
	.cat-block ul li {
	    width: 235px;
	    padding:10px 40px 10px 10px;
	    margin: 6px;
	}
	.cat-block ul li h1 {
	    font-size:15px;
	    max-width: unset;
	    color: #2d2c2c;
	}
	.cat-block ul li h2 {
	    font-size:14px;
	    float: unset;
	    display: block;
	    margin-top: 6px;
	}
	.cat-block ul li p {
	    display: none;
	}
	.cat-block ul li .cart {
	    width: 28px;
	    font-size: 15px;
	}
	.cat-block .heading1 {
	    font-size: 22px;
	}
	.menu-open, .menu-close {
	    right: 5px;
	    width: 40px;
	    height: 40px;
	}
	.menu-open img, .menu-close img {
	    width: 13px;
	    margin-top: 14px;
	}


	/* ::-> Reservation Page */
	.reserve-text {
	    padding:10px 20px 20px 10px;
	}
	.reserve-form {
	    padding:0px 20px 30px 10px;
	}
	.reserve-text h1 {
	    font-size:26px;
	}


	/* ::-> Gallery Page */
	.galleries-photo .photo {
	    height:200px;
	}
	.galleries-photo .photo .caption {
		 font-size:13px;
	}


	/* ::-> Contact Page */
	#contact .contact-info {
	    padding:30px 20px 50px 80px;
	}
	#contact .contact-form{
		padding:0px 50px 20px 60px;
	}
	

	/* ::-> Cart Page */
	#cart{
		min-height: unset;
	}
	.cart-wrapper {
	    margin:90px 0px 30px;
	    padding: 0px 20px;
	}
	#checkout .table .dish-name-body,
	.cart-wrapper .table .dish-name-body {
	    padding-left:20px;
	}
	.table .dish-name-body img {
	    display: none;
	}

	.cart-tatals {
	    padding: 20px 50px 0px;
	    text-align: center;
	}
	.cart-tatals button {
	    margin:20px 5px 60px;
	}


	/* ::-> User Register */
	.signup-left {
	   padding:100px 50px 80px;
	   height: auto;
	   text-align: center;
	}
	.signup-left .content h1{
		margin-bottom:10px;
		font-size: 30px;
	}
	.signup {
	   padding:80px 50px 50px;   
	}

	/* ::-> Information Page */
	.checkout-info {
	   padding: 40px 40px 20px;
	}


	/* ::-> Checkout Page */
	#checkout {
	    padding: 0px 20px 70px;
	}
	.payment-options button{
		margin-bottom:10px; 
		margin-right: 5px;
	}

	.heading3 {
	    font-size:18px;
	 }



	 /* ::-> #user-profile Page */
	#user-profile {
	    margin:30px 0px 40px;
	    padding: 50px 20px;
	}
	#user-profile .admin-thumb .inner {
	    width:200px;
	    height:200px;
	    float: none;
	    margin:0px auto 30px;
	 }

	 .order-details .details-block.billing,
	 .order-details .details-block.shipping{
	 	width: 100%;
	 }





	/* ::: --> Footer ::: */
	.links {
	    padding: 20px 0px 50px 60px;
	}

}

@media (min-width:0px) and (max-width:500px) {

	.top-header .heading1 {
	    font-size:15px;
	}

	/* ::-> Home Page */
	#header {
	    max-height: 345px;
	}
	.swiper-slide .content {
	    top: 100px;
	    padding: 0px 30px;
	}
	.swiper-slide .content h1 {
	    font-size: 22px;
	    font-weight: 800;
	    letter-spacing: .5px;
	}
	.swiper-slide .content p {
	    font-size: 15px;
	}
	.btn1 {
	    font-size: 13px;
	    padding: 4px 15px;
	}
	#home-nav {
	    padding: 50px 15px;
	 }
	#home-nav .hn-block .image {
	    height:125px;
	}
	#home-nav .hn-block h2 {
	   font-size: 14px;
	}
	.dish-heading h1 {
	    font-size: 17px;
	    padding: 5px 15px;
	}
	.dish-block .dish-image {
	    height: 120px;
	}
	.dish-block .dish-title {
	    padding: 7px 0px 5px 10px;
	    height: auto;
	}
	.dish-block .dish-title h2 {
	    font-size:13px;
	}
	.dish-block .dish-title p {
		padding-right: 30px;
	   font-size:13px;
	   width:19%;
	}


	/* ::: --> About Page ::: */
	.about-header {
	    max-height: 560px;
	}
	.about-header .mask {
	    padding: 157px 10px 0px !important;
	}
	.about {
	    padding: 50px 30px;
	}
	
	#search-reviews ul li,
	#full-review ul li{
	    width: 210px;
	    margin: 10px 5px;
	 }
	.rating img {
	    width: 10px;
	}
	#full-review ul li p {
	    font-size: 11px;
	    margin-bottom: 5px;
	 }
	#full-review ul li h2 {
    font-size: 11px;
   }
   .search-rev{
		width:300px;
	}
	.search-rev form label{
	    margin-bottom:11px;
	}




   .team-list li {
	    width: 200px;
	}
	.team-list li .team-photo {
	    height: 185px;
	}


	.cat-block ul {
	    text-align: center;
	}
	.cat-block ul li {
	    width: 200px;
	    margin:6px 3px;
	 }
	.cat-block ul li h1 {
	    font-size: 13px;
	 }
	 .cat-block ul li h2{
	 	font-size: 12px
	 }
	
	#menu-navigation ul {
	    position: relative;
	    top:80px;
	    transform: unset;
	}


	/* ::-> Gallery Page */
	.galleries-photo .photo {
	    height:160px;
	}


	/* ::-> Contact Page */
	#contact .contact-info {
	    padding:30px 20px 50px 80px;
	}
	#contact .contact-form{
		padding:0px 20px 20px 60px;
	}
	#closeMap{
		padding: 7px 10px;
     font-size: 12px;
	}


	/* ::: --> Cart Page ::: */
	.table thead tr th {
	    font-size:11px;
	}
	.table thead tr th.dish-name-head {
	    padding-left: 15px;
	}
	.table tbody tr td p {
	    font-size: 13px;
	}
	#checkout .table .dish-name-body,
	.cart-wrapper .table .dish-name-body {
	    padding-left: 15px;
	}
	.table tbody tr td {
	    padding:7px 0px;
	    font-size: 13px;
	}
	.table form .qtyInput {
	    height: 25px;
	    width:35px;
	}
	.cart-tatals{
		padding: 10px 50px 0px;
	}
	.cart-tatals p {
	   font-size: 13px;
	}
	.cart-tatals .total {
	   font-size: 16px;
	}
	.cart-wrapper .heading1 {
	    margin-bottom: 40px;
	}



	/* ::: --> Customer Login ::: */
	#customer-signin{
    	padding:120px 0px 30px;
	}
	.signin-form img {
	    width: 115px;
	}



	/* ::-> User Register */
	.signup-left {
	   padding:100px 20px 40px;
	   height: auto;
	   text-align: center;
	}
	.signup {
	   padding:50px 30px 50px;   
	}
	.signup-left .content h1 {
	    margin-bottom:2px;
	    font-size:25px;
	}

	/* ::-> Information Page */
	.checkout-info {
	   padding: 40px 10px 20px;
	}

	/* ::-> Checkout Page */
	#checkout {
	    padding: 0px 10px 40px;
	}

	.detailsDiv ul li p.title {
	    width: 110px;
	 }

	/* ::-> User Orders */
	#user-orders {
	    padding: 100px 20px 50px;
	    overflow:hidden;
	    overflow-x: scroll;
	}


	/* ::: --> Footer ::: */
	.links .linkBox  ul{
		padding-left:40px !important;
	}
	.footer-bottom p {
	    font-size: 15px;
	}

	
}

@media (min-width:0px) and (max-width:430px) {

	/* ::-> Home Page */
	#home-nav {
	    padding:40px 15px;
	 }
	#home-nav .hn-block .image {
	    height:110px;
	}
	#home-nav .hn-block {
	   margin:10px 0px;
	}
	#home-nav .hn-block h2 {
	   font-size:13px;
	}
	#quotes .mask {
	    padding: 28px 30px;
	}
	.home-dish {
	    padding: 15px 45px 30px;
	}
	.dish-block {
   	 padding: 0px 30px;
	    width: 100%;
	}
	.dish-heading h1 {
	    font-size: 22px;
	    padding: 5px 15px;
	}
	.dish-block .dish-image {
	    height:195px;
	}
	.dish-block .dish-title h2 {
	    font-size:18px;
	}
	.dish-block .dish-title p {
		padding-right:35px;
	   font-size:17px;
	   width:15%;
	}

	/* ::-> About Page */
	.about-header {
	    max-height:525px;
	}
	.about-header .mask {
	    padding: 121px 15px 0px 40px !important;
	    text-align: left;
	}
	.about-header h1 {
	    font-size: 24px;
	    font-family: 'Roboto', sans-serif;
	}
	.about-header p {
	    font-size:15px;
	}
	.about {
	    padding: 40px 30px 40px;
	}
	.about-right h2 {
	    font-size: 15px;
	}
	.about-right h1 {
	    margin-top: 10px;
	    padding-right: 50px;
	    font-size: 30px;
	}
	.heading1 {
	    font-size:18px;
	}
	#reviews-small {
	    padding: 50px 20px 45px;
	}
	#reviews-small .heading1 {
	    margin: 0px 0px 25px;
	 }
	.review-box .mask {
	    background: rgba(14,13,13,.999);
	}
	.review-box .details p{
		margin-bottom:10px
	}
	.rating{
		margin-bottom: 0px
	}
	.review-box{
		padding:20px 30px;
	}
	.arrows button{
		margin-top:15px !important;
	}
	.arrows button:last-child{
		margin-top:5px !important;
	}
	#search-reviews ul li,
	#full-review ul li{
	    width:285px;
	}
	.rating img {
	    width: 12px;
	}
	#full-review ul li p{
		font-size: 16px;
  		margin:10px 0px;
	}
	#full-review ul li h2 {
	    font-size: 15px;
	}
	.search-rev{
		width:240px;
	}
	.search-rev form label{
	    margin-bottom:9px;
	}
	.team-list li {
	    width: 175px;
	    margin: 8px 6px;
	}
	.team-list li .team-photo {
	    height: 150px;
	}
	.team-list li .content {
	    padding: 10px 10px 5px;
	}
	.team-list li .content h3 {
	   font-size: 13px;
	}
	.team-list li .content p {
	   font-size: 12px;
	}


	/* ::-> Menu Page */
	.cat-block ul{
		text-align: center;
	}
	.cat-block ul li {
	    width:300px;
	    margin:6px 0px;
	 }
	.cat-block ul li h1 {
	    font-size:16px;
	 }
	 .cat-block ul li h2{
	 	font-size:18px
	 }

	.cat-block .heading1 {
	    font-size: 18px;
	}
	.cat-block .heading1::after {
		 bottom: -8px;
		 height: 2px;
	}
	

	/* ::-> Reservation Page */
	.reserve-text {
	    padding:10px 10px 20px 15px;
	}
	.reserve-form {
	    padding:0px 10px 30px 15px;
	    overflow:hidden;
	}
	.reserve-text h1 {
	    font-size:22px;
	    margin-bottom: 15px
	}
	#reserve {
	    padding:80px 20px 40px;
	}

	/* ::-> Contact Page */
	#contact .contact-info {
	    padding:0px 50px 50px 60px;
	    overflow:hidden;
	}
	#contact .openclose::after, 
	.contact-info .address::after {
	   width:90%;
	}
	.contact-info .address p {
	    font-size: 14px;
	}
	#contact .heading2 {
	    font-size: 12px;
	}
	#contact .openclose p {
	    font-size: 14px;
	 }
	#contact .header-1 {
	    font-size:18px;
	 }
	#contact .contact-form{
		padding:0px 0px 20px 40px;
	}
	.contact-form form input {
	    height:35px;
	}


	/* ::-> Gallery Page */
	.galleries-photo .photo {
	    height:140px;
	}
	.galleries-photo .photo .caption {
		 font-size:12px;
	}


	/* ::-> Cart Page */	
	.table thead tr th {
	    font-size: 10px;
	}
	.table tbody tr td p {
	    font-size: 12px;
	}
	.table tbody tr td {
	    padding: 7px 0px;
	    font-size: 11px;
	}
	.table tbody tr td i {
	    font-size: 15px;
	}
	.cart-tatals .total{
		margin-bottom: 20px;
	}
	.cart-tatals {
		padding-bottom: 50px;
	}
	.cart-tatals button{
		margin:5px 10px;
	}
	

	#customer-signin {
	    padding: 120px 0px 30px;
	}

	/* ::-> Information Page */
	.checkout-info {
	   padding: 40px 0px 20px;
	}

	/* ::-> Checkout Page */
	#checkout {
	    padding: 0px 0px 40px;
	}
	.heading3 {
	    font-size: 15px;
	}
	.payment-options button {
	    font-size: 12px;
	}

	 /* ::-> #user-profile Page */
	#user-profile {
	    margin:30px 0px 40px;
	    padding: 50px 0px;
	}
	#user-profile .admin-thumb .inner {
	    width:180px;
	    height:180px;
	    margin:0px auto 20px;
	}
	.detailsDiv h2 {
	   font-size:20px;
	}
	.detailsDiv ul li p {
	   font-size: 13px;
	}




	/* ::-> Footer */	
	.links {
	    padding: 20px 0px 50px 35px;
	}

}
@media (min-width:0px) and (max-width: 375px) {

	/* ::-> Home Page */
	.navbar-default {
	    padding: 0px;
	}
	.navbar-brand img {
	    width: 60px;
	}
	.navbar-dark2 .navbar-brand img {
	    width: 65px;
	    margin-top: 0px;
	}
	.navbar-toggle .icon-bar {
	    width: 24px;
	    height: 2px;
	}
	.right-nav,
	.navbar-dark2 .right-nav{
	    right:60px;
	    top: 0px;
	}
	.navbar-default .navbar-nav li a {
	    font-size:14px;
	    margin:0px;
	    padding:8px 0px;
	    font-weight: 400;
	}
	.navbar-default .navbar-nav li a::after {
	    bottom: 4px;
	    height: 1px;
	 }



	#header {
	    max-height: 270px;
	}
	.swiper-slide .content {
	    top:60px;
	    padding: 0px 20px;
	}
	.swiper-slide .content h1 {
	    font-size: 17px;
	    font-weight: 600;
	    letter-spacing: 0px;
	}
	.swiper-slide .content p {
	    font-size:14px;
	    margin:10px 0px 0px;
	}
	.swiper-pagination {
		bottom: 0px;
	   text-align: right;
	   padding:6px 20px;
	}
	#home-nav {
	   padding:30px 15px 15px;
	}
	#home-nav .hn-block {
	    text-align: center;
	    margin: 6px 0px;
	}
	#home-nav .hn-block .image {
	    height:95px;
	}
	#home-nav .hn-block h2 {
	    font-size: 12px;
	    margin-top: 10px;
	    border:none;
	}
	#quotes {
	    height: 210px;
	}
	#quotes .mask {
	    padding: 30px 20px;
	}

	#quotes .mask p{
		font-size: 15px;
	}


	.home-dish {
	    padding: 15px 35px 30px;
	}
	.dish-block {
   	 padding: 0px 30px;
	    width: 100%;
	}
	.dish-heading h1 {
	    font-size: 22px;
	    padding: 5px 15px;
	}
	.dish-block .dish-image {
	    height: 180px;
	}
	.dish-block .dish-title h2 {
	    font-size:15px;
	}
	.dish-block .dish-title p {
		padding-right:35px;
	   font-size:15px;
	   width:15%;
	}
	


	.about-header {
	   max-height: 585px;
	}
	.about-header .mask {
	    padding:100px 15px 0px 30px !important;
	}
	.about-right h1 {
		 padding-right:30px;
		 font-size: 27px;
		 margin-bottom:20px;
	}
	.about-right h2 {
	    font-size:14px;
	}
	.about-right p {
	    font-size: 16px;
	}
	.review-box{
		!width: 270px !important
	}

	#search-reviews ul li{
	    width: 250px;
	}
	
	.team-list li {
	    width: 240px;
	    margin:10px 0px;
	}
	.team-list li .team-photo {
	    height: 230px;
	}
	.team-list li .content{
		padding:8px 10px;
	}
	.team-list li .content h3 {
	    font-size: 15px;
	}
	.team-list li .content p {
	    font-size:14px;
	}



	/* ::-> Gallery Page */
	.galleries-photo .photo {
	    height:120px;
	}

	#customer-signin {
	    padding:150px 0px 30px;
	}
	#customer-signin .signin-form{
		width:330px;
	}
	.form-2 button {
	    margin: 0px 0px 10px;
	    height: 35px;
	}

	#contact .contact-info {
	    padding:0px 10px 40px 50px;
	}
	


	/* ::-> User Register */
	.signup-left {
	   padding:80px 10px 40px;
	   height: auto;
	   text-align: center;
	}
	.signup {
	   padding:20px 30px 50px;   
	}
	.signup-left .content h1 {
	    margin-bottom:2px;
	    font-size:25px;
	}
	.signup .form-2 button {
	    margin:10px 0px;
	}

	#user-profile .admin-thumb {
	    padding: 0px 30px 0px;
	}


	
		/* ::-> Footer */
	.links {
	    padding: 0px 0px 20px 20px;
	}
	.links .linkBox {
	    padding: 30px 0px 30px;
	    height: 120px;
	}
	.links .linkBox:nth-child(3) ul,
	.links .linkBox ul.address {
	    padding-left:20px !important;
	}
	.links .linkBox ul li{
		margin:3px 0px !important
	}
	
	.links .linkBox ul li a {
	    font-size:13px;
	}
	.footer-bottom p {
	    font-size:13px;
	}


}
@media (min-width:0px) and (max-width: 360px) {

	#home-nav .hn-block {
	    text-align: center;
	    margin: 4px 0px;
	}
	#home-nav .hn-block .image {
	    height:80px;
	}

	/* ::-> Gallery Page */
	.galleries-photo .photo {
	    width: 100%;
	    height:210px;
	}
	.galleries-photo .photo .caption {
		 font-size:16px;
	}

	.detailsDiv ul li p.title {
	    width:90px;
	}


	.links {
	    padding: 0px 0px 30px 0px;
	}
}
@media (min-width:0px) and (max-width: 320px) {
	/* ::-> Home Page */
	.swiper-slide .content p {
	    font-size: 12px;
	}
	.dish-heading h1 {
	    font-size:18px;
	}
	.dish-block .dish-image {
	    height: 145px;
	}

	#home-nav {
	    padding: 30px 5px 15px;
	}
	#home-nav .hn-block .image {
	    height: 75px;
	}
	#home-nav .hn-block h2 {
    	font-size: 10px;
 	}


	/* ::-> About Page */
	.about-header {
	    max-height:620px;
	}
	.about-header .mask {
	    padding: 90px 15px 0px 30px !important;
	}


	/* ::-> Menu Page */
	.cat-block ul li {
	    width:270px;
	    margin:6px 0px;
	}
	.cat-block ul li h1 {
	    font-size:15px;
	}
	.cat-block ul li h2{
	 	font-size:15px
	}


	/* ::-> Gallery Page */
	.galleries-photo .photo {
	    height: 190px;
	}


	#customer-signin .signin-form{
		width:300px;
	}
	.signin-form img {
	    width: 100px;
	}
	

}
	
	


	
	